/* Add your custom styles here */
body {
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 960px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-img-top {
    cursor: pointer;
  }
  